body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: 1300px 560px;
}
.logo{
   width: 50px;
   position: absolute;
   top: -40 px; 
}
h3{
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 70px;
}
.share{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
}
h1{
    position: absolute;
    top : 50px;
    right: 400px ;
    left: 400px;
    font-size: 100px;
    font-weight: 800px;
}

.b1,.b2,.b3,.b4,.b5{
    width: 40px;
    padding: 10px;
    margin: 0 10px;
}
.imgset{
        position: absolute;
        bottom: 8px;
        right: 430px;
        background-image: linear-gradient(rgb(255, 255, 255,0.6),rgb(145, 139, 139,0.7));
        border: none;

}
