*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Abril Fatface", serif;
    margin: 20px;
    background-image: linear-gradient(rgb(171, 215, 243,.5), rgb(156, 212, 247,.5)),url(../img/bg.jpg);
    background-size: 1300px 640px;

}
.logo{
    width: 90px;
    position: absolute;
    top: 10px;
}
.imgset{
    position: absolute;
    top: 10px;
    left: 100px;
}
.img1{
    width: 60px;
}
.img2{
    width: 90px;
}
.img3{
    width: 60px;
}
.img4{
    width: 200px;
    position: absolute;
    top: 125px;
    left: 30px;
    z-index: 1;
}
.img5{
    width: 250px;
    position: absolute;
    top: 75px;
}
.img6{
    width: 200px;
    position: absolute;
    top: 125px;
    left: -50px;
}
h1{
    position: absolute;
    top: 200px;
    left: -10px;
}
h2{
    position: absolute;
    top: 250px;
    left: -10px;
}
.colo{
    position: absolute;
    top: 290px;
    left: -10px;
}
.blue{
    border-radius: 50%;
    background-color: lightskyblue;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 320px;
    left: 0px;
}
.yellow{
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    border: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 320px;
    left: 30px;
}
.pink{
    border-radius: 50%;
    background-color: rgb(255, 0, 157);
    border: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 320px;
    left: 60px;
}
.quan{
    position: absolute;
    top: 360px;
    left: -10px;
}
input{
    position: absolute;
    top: 390px;
    left: -3px;
    border: none;
    border-bottom: 2px solid black;   
    width: 80px;

}
.img7{
    position: absolute;
    top: 440px;
    left: -10px;
    width: 20px;
}
.fav{
    position: absolute;
    top: 440px;
    left: 20px;
}
button{
    padding: 10px 30px;
    position: absolute;
    top: 480px;
    left: -10px;
    border-radius: 50px;
    background-color: rgb(1, 63, 110);
    color: white;
    border: none;
}
button:hover{
    background-color: black;
}