*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(173, 229, 237,0.4),rgb(173, 229, 237,0.4)),url(../img/bg.jpg);
}
.on{

}
.on1{

}
.on-img{

}
/* off */
.off{

}
.off1{

}
.off-img{

}

