*{
    padding: 0;
    margin: 0;
}
body{
    background-size: 1300px 560px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(167, 218, 241, 0.3), rgb(179, 213, 241,0.3)),url(../img/bg.jpg);
}
.img1{
    width: 90px;
    top: 10px;
    position: absolute;
    left: 10px;
}
.img2{
    width: 50px;
    top: 10px;
    position: absolute;
    right: 10px;
}
.img3{
    width: 200px;
}
.ri-le{
    right: 200px;
}
.ri{
    padding: 10px;
    margin: 0 400px ;
    text-align: center;
    background-image: linear-gradient(rgb(73, 185, 219,0.5),rgb(24, 43, 65,0));
}
.imgset{
    background-image: linear-gradient(rgb(121, 183, 244,o.5), rgb(155, 216, 237,0));
    padding: 10PX;
    margin: 20PX;
}
.img4,.img5,.img6{
    width: 50px;
}
button{
    background-image: radial-gradient(rgba(231, 221, 221, 0.3), rgba(21, 132, 197, 0.9));
    padding: 10px 40px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: black;
}   
h1,h2,h3{
    padding: 20px;
}