*{
    padding: 0;
    margin: 0;
}
body{
    background-size: 1300px 580px;
    background-repeat: no-repeat;
    font-family: "UnifrakturMaguntia", cursive;
    background-image: linear-gradient(rgba(167, 218, 241, 0.3), rgb(179, 213, 241,0.3)),url(../img/bg.jpg);
}
.img1{
    width: 90px;
    top: 10px;
    position: absolute;
    left: 10px;
}
.img2{
    width: 50px;
    top: 10px;
    position: absolute;
    right: 10px;
}
.img3{
    width: 100px;
    margin-bottom: -20px;
}
.col{
    top: 0;
    padding: 10px;
    margin: 0 400px ;
    text-align: center;
    background-image: linear-gradient(rgb(73, 185, 219,0.5),rgb(24, 43, 65,0));
}
.imgset{
    padding: 10px;
    margin: 20PX;
}
.img4,.img5,.img6{
    width: 50px;
}
button{
    background-color: rgb(100, 219, 219);
    padding: 10px 40px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    color: black;
    font-weight: 800;
}   
button:hover{
    color: white;
    background-color: black;
}
h1,h2,h3{
    padding: 20px;
}
h1{
    font-weight: 900;
    font-size: 50px;
}