*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(gray,gray),url();
}
.on{

}
.on1{

}
.on-img{

}
/* off */
.off{

}
.off1{

}
.off-img{

}

